<%- include('partials/header'); -%>
<%- include("partials/nav") -%>
<header>
  <div class="island">
    <img src="/greekIsland.png" alt="A greek island">
  </div>
  <div class="headings">
    <h2>Islands</h2>
    <h3>By Greek Trip Participants</h3>
    <a href="/islands" class="btn">View Island Choices</a>
  </div>
</header>


<%- include('partials/footer'); -%>