<%- include('partials/header'); -%>
<%- include("partials/nav"); -%>

<ul class="islands">
  <li class="island">
    <img src="/greekIsland.png" alt="island choice icon">
    <h4>Island 1</h4>
    <p>Island Area 1</p>
  </li>
  <li class="island">
    <img src="/greekIsland.png" alt="island choice icon">
    <h4>Island 2</h4>
    <p>Island Area 2</p>
  </li>
  <li class="island">
    <img src="/greekIsland.png" alt="island choice icon">
    <h4>Island 3</h4>
    <p>Island Area 3</p>
  </li>
  <li class="island">
    <img src="/greekIsland.png" alt="island choice icon">
    <h4>Island 4</h4>
    <p>Island Area 4</p>
  </li>
  <li class="island">
    <img src="/greekIsland.png" alt="island choice icon">
    <h4>Island 5</h4>
    <p>Island Area 5</p>
  </li>
  <li class="island">
    <img src="/greekIsland.png" alt="island choice icon">
    <h4>Island 6</h4>
    <p>Island Area 6</p>
  </li>
</ul>

<%- include('partials/footer'); -%>